<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Character Appearances Sorter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <header>
        <h1 class="title">Character Appearances Sorter</h1>
    </header>

    <main class="submenu">
        <a class="menubutton" href="{{ url_for('marvel')}}">Marvel character ></a>
        <a class="menubutton" href="{{ url_for('dc')}}">DC character ></a>
    </main>
</body>

</html>